<div class="main-container">



  <div class="test">

    <div class="head-container">
      <img class="head" src="{{resultImages.head.default}}">

      <div class="eyes-container">
        <img class="eye" src="{{resultImages.eyes[1]}}">
      </div>

      <div class="hair-container">
        <img class="eye" src="{{resultImages.hair[1]}}">
      </div>

    </div>

  </div>
</div>
<div class="choices-container">

  <div class="choices-row">

    <div class="nav">
      <ul>
        <li>
          Hair
        </li>
        <li>
          Eyes
        </li>
        <li>
          Mouth
        </li>
      </ul>
    </div>

    <div class="options">
      <!-- Hair, Eyes, Mouth Options -->
    </div>


  </div>

</div>
