.head-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.eyes-container,
.hair-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.head {
  width: 350px;
}

.eye {
  width: 350px;
  position: absolute;
  top: 0;
}

.hair {
  width: 350px;
  position: absolute;
  top: 0;

}
