<div class="main-container">



  <div class="test">

    <div class="head-container">
      <img class="head" src="{{images.head.default}}">

      <div class="eyes-container">
        <img class="eye" src="{{images.eyes[1]}}">
      </div>

      <div class="hair-container">
        <img class="eye" src="{{images.hair[2]}}">
      </div>

    </div>

  </div>
</div>
<div class="choices-container">

  <div class="choices-row">

    <app-choices-menu [images]="images"></app-choices-menu>

    <div class="options">
      <!-- Hair, Eyes, Mouth Options -->
    </div>


  </div>

</div>
